body {
    margin: 0px;
    background-color: #f4f0e5;
    font-family: Tahoma;
}

.imagem-logo{
    width: 200px;
}

a{
    margin:0px 10px;
    color: #542f0c;
}

.secao{
    width: 700px;
    margin: 40px auto;
    text-align: center;
    margin:auto auto 20px auto;
}

h1{
    font-size: 28px;
    border-top: 1px solid #de8e37;;
    padding: 30px 0 0 0;
}

h2{
    font-weight: normal;
    color: #de8e37;
}

.imagem-vitrine{
    width:700px;
}

.secao-destacada{
    background-color: #de8e37;
    text-align:center;
    padding: 15px 0 15px 0;
    margin-top: 10px
}

.secao-destacada h3{
    color:white;
    font-size: 24px;
}

.secao-destacada h4{
    color: white;
    font-size: 20px;
    margin:20px 0 10px 0;
}

.secao-destacada p{
    width: 500px;
    color: white;
    margin: 10px auto;
    line-height: 30px;
}

.secao-destacada img{
    width: 400px;
}

span{
    font-weight: bold;
}